<div class="container">
  <div class="jumbotron">
    <h1>Peer Cnnctr -- EZ connections</h1>
    <p>Peer Cnnctr allows you to set up a group of peers easily.  It runs by letting nodes register themselves for a particular key and notifies each node when a new node appears.  Effectively making the management of peer groups trivial.  Regardless of where the peers are located.</p>
  </div>
</div>
